@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
}

/*############## header ##############*/
header{
    width: 100%;
    position: fixed;
    z-index: 99;
}
.headerwrap{
    width: 1200px;
    margin: auto;
    padding: 30px 0;
    overflow: hidden;
}

.headerwrap .logo{
    float: left;
}

.headerwrap .menu{
    float:right;
}

.list{
    overflow: hidden;
}

.list .item{
    list-style: none;
    float: left;
    line-height: 37px;
    padding: 0 10px;
}

.list .item a{
    text-decoration: none;
    color: #000;
}

/*############## section.welcome ##############*/
.welcome{
    position: relative;
    padding: 100px 0;
}


.welcome .welcome-heading{
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    text-align: center;
    width: 750px;
}

.welcome .welcome-heading h1{
    font-size: 24px;
}

.welcome .welcome-heading h2{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 30px;
    margin-top: 15px;
}

.welcome .welcome-heading h2 #typing{
    display: block;
    font-style: normal;
    color: #eb4d4b;
}

.welcome .welcome-heading p{
    padding: 0 100px;
    font-size: 17px;
    line-height: 2em;
    margin-bottom: 30px;
    word-break: break-all;
}

.welcome-btns a{
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.welcome-btns a:first-child{
    background-color: #0abde3;
    color: #fff;
}
 
.welcome-btns a:last-child{
    color: #000;
    background-color: #fff;
} 


.welcome  .slick-arrow{
    display: none !important;
}


.welcome .mouse{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 13px;
    left: 320px;
    bottom: 21%;
}

.welcome .mouse .bar{
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 16px;
    background-color: #fff;
}